<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vs</title>
</head>
<body>
    <h1>Pune Jobs Information</h1>
    {% if jobs_list %}
    <table border="3">
      <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Address</th>
        <th>Email</th>
        <th>PhoneNumber</th>
      </thead>
      {% for job in jobs_list %}
        <tbody>
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.company}}</td>
        <td>{{job.title}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      </tbody>
      {% endfor %}
    </table>
    {% else %}
    <p>No Jobs In pune jobs........</p>
    {% endif %}
 </body>
</html>

